{% extends "base_generic.html" %}

{% block content %}
<style>
  body {
    background-color: #2A3133 !important;
  }

  h1 {color: rgb(255,255,242) !important;}
  a {color: rgb(254,240,149) !important;}
  p {color: rgb(255,255,242) !important;}
  a:hover {
    color: rgb(211,95,73) !important;
  }
  hr {
    border: 2;
    border-color: rgb(255,255,242); !important
  }
  </style>
<div style="margin-left:20px;margin-top:20px">
    <h1>Event List</h1>
    <h2><a href="new">Create</a></h2>
    {% if event_list %}
    {% for event in event_list %}
    {% if event.capacity > event.size %}
    <hr>
        <h3><a href="{{ event.get_detail_url }}">{{ event.title }}</a></h3>
        <p><strong>Host: </strong>{{ event.leader }}</p>
        <p><strong>Start: </strong>{{ event.startTime }}</p>
        <p><strong>Number of participants: </strong>{{ event.size }} / {{ event.capacity }}</p>
    {% endif %}
    {% endfor %}
    {% else %}
    <p>There are no events created.</p>
    {% endif %}
</div>
{% endblock %}
