{% extends "base_generic.html" %}
{% load static %}

<style>
  body {
    background-color: #2A3133 !important;
  }

  h1 {color: rgb(255,255,242) !important;}
  a {color: rgb(254,240,149) !important;}
  p {color: rgb(255,255,242) !important;}
  a:hover {
    color: rgb(211,95,73) !important;
  }
  hr {
    border: 2;
    border-color: rgb(255,255,242); !important
  }
  </style>
<html>

{% block content %}
<h1>Create Event</h1>
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
            <p>Andrew ID: {{ form.andrewID }}</p>
    </div>
    <p>Title: {{ form.title }}</p>
    <p>Content: {{ form.content }}</p>
    <p>Start: {{ form.startTime }}</p>
    <p>End: {{ form.endTime }}</p>
    <p>Group size: {{ form.capacity }}</p>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
